header {
  height: 110%;
}

.homepage {
  display: flex;
  background-image: linear-gradient(
      to bottom,
      rgba(81, 255, 66, 0.459),
      rgba(16, 94, 0, 0.555)
    ),
    url(img/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.75rem;
  @include phone {
    font-size: 3rem;
    border-radius: 5rem;
  }
  @include tablet {
    font-size: 6rem;
    border-radius: 8rem;
  }
  @include desktop {
    font-size: 10rem;
    border-radius: 10rem;
  }
}
