$phone: 350px;
$tablet: 750px;
$laptop: 1100px;
$desktop: 1700px;
@mixin phone {
  @media (min-width: #{$phone}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
