@import "_variable.scss";
@import "_homepage.scss";
@import "_places.scss";
@import "_culture.scss";

html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Lobster", cursive;
}

body {
  background-image: url(img/wallpaper.jpg);
}
